@use 'mediaquery' as md;

.foodmenuContainer {
    width: 90%;
    height: 100%;
    background-color: #024906;
    position: absolute;
    top: 10%;
    left: 2%;
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display:none;
       }
    .openhour{
        color: whitesmoke;
        text-align: right;
        padding-right: 50px;
        font-family: fot-tsukuaoldmin-pr6n, sans-serif;
        font-weight: 300;
        font-style: normal;
        @media (md.$pc){
            padding-right: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        h3{
            font-size: 2em;
            width: 100%;
            @media (md.$pc) {
                font-size: 2.5em;
            }
        }
        div{
            min-width: 10%;
            padding-left: 10%;
            h4{
                font-size: 1.5em;
                margin-bottom: 0;
                margin-top: 50px;
                @media (md.$pc) {
                    font-size: 2em;
                }
            }
            p{
                margin-top: 5px;
                margin-bottom: 5px;
                @media (md.$pc) {
                    font-size: 1.5em;
                }
            }
        }
    }
}
