@use "sidemenu";
@use "footer";

* {
    box-sizing: border-box;
}
body {
    // overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: bely, serif;
    font-weight: 700;
    background-color: #fafafa;
}


// navここから

nav {
    font-family: bely, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    // height: 80px;
    width: 100%;
    z-index: 999;
    mix-blend-mode: difference;
    ul {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            list-style: none;
            padding-left: 10px;
            padding-right: 10px;
            color: orange;
            font-size: 12px;
            text-shadow: 0 0 10px white;
        }
    }
}

// navここまで

// headerここから

header {
    // width: 84%;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    // background: #fff;
    .header_image {
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        position: relative;
        top: 0;
        z-index: -2;
        &_cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: rgba(255, 255, 255, 0.4);
            background: linear-gradient(
                rgba(#fafafa, 1),
                rgba(#fafafa, 0.8) 15%,
                rgba(#fafafa, 0.3),
                rgba(#fafafa, 0.6) 70%,
                rgba(#fafafa, 1) 95%
            );
            z-index: 1;
        }
        img {
            width: 100%;
            height: 100%;
            z-index: 0;
            object-fit: cover;
        }
        .counter {
            opacity: 1;
        }
        .aqua {
            opacity: 0;
        }
        .seafood {
            opacity: 0;
        }
        .current-img {
            opacity: 1;
        }
    }
    .header_logo {
        width: 60%;
        position: absolute;
        left: 50%;
        top: 50vh;
        transform: translate(-50%, -50%);
        overflow: hidden;
        mix-blend-mode: difference;
        h1 {
            font-family: bely, serif;
            font-weight: 700;
            font-style: italic;
            // font-size: 52px;
            font-size: 18px;
            color: gray;
            opacity: 0;
            transform: translateX(-30px);
            transition: 2s;
            animation: subTitle 3s forwards;
            animation-delay: 1s;
            margin-bottom: 20px;
            // margin-bottom: 50px;
        }
        @keyframes subTitle {
            0% {
                opacity: 0;
                transform: translateX(-30px);
            }
            100% {
                opacity: 1;
                transform: none;
            }
        }
        #logo {
            stroke: gray;
            fill: transparent;
            animation: dash_animation 3s linear forwards;
            // margin-bottom: 80px;
            margin-bottom: 10px;
        }
        @keyframes dash_animation {
            0% {
                stroke-dashoffset: 0px;
                stroke-dasharray: 0px;
                fill: transparent;
            }
            50% {
                stroke-dashoffset: 1237px;
                stroke-dasharray: 1237px;
                fill: transparent;
            }
            100% {
                stroke-dashoffset: 0;
                fill: gray;
            }
        }
        p {
            margin: 0;
            padding: 0;
            font-family: bely, serif;
            font-weight: 700;
            font-style: italic;
            font-size: 14px;
            text-align: right;
            margin-bottom: 60px;
            color: gray;
            opacity: 0;
            transform: translateX(100px);
            transition: 2s;
            animation: message 2s forwards;
            animation-delay: 2;
        }
        h3 {
            font-family: bely, serif;
            font-weight: 700;
            font-style: italic;
            font-size: 16px;
            // font-size: 42px;
            // color: rgb(104, 104, 104);
            color: gray;
            mix-blend-mode: difference;
            margin: 0;
            padding: 0;
            text-align: right;
            letter-spacing: 1px;
            line-height: 18px;
            // line-height: 50px;
            opacity: 0;
            transform: translateX(100px);
            transition: 2s;
            animation: message 2s forwards;
            &:nth-of-type(1) {
                animation-delay: 2.4s;
            }
            &:nth-of-type(2) {
                animation-delay: 3s;
            }
            &:nth-of-type(3) {
                animation-delay: 3.6s;
            }
            &:nth-of-type(4) {
                animation-delay: 4s;
            }
            &:nth-of-type(5) {
                animation-delay: 4.2s;
            }
        }
        @keyframes message {
            0% {
                opacity: 0;
                transform: translateX(100px);
            }
            100% {
                opacity: 1;
                transform: none;
            }
        }
    }
}

// headerここまで
// mainここから

main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    // background: #fff;
    .main_image {
        width: 100%;
        // height: 100%;
        text-align: center;
        overflow: hidden;
        top: 50px;
        z-index: -2;
        position: absolute;
        &_cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: rgba(255, 255, 255, 0.4);
            // background: radial-gradient(
            //     rgba(255, 255, 255, 0.6),
            //     rgba(255, 255, 255, 0.7) 30%,
            //     rgba(255, 255, 255, 1)70%,
            //     rgba(255, 255, 255, 1)
            // );
            background: linear-gradient(
                rgba(#fafafa, 1),
                rgba(#fafafa, 0.9) 15%,
                rgba(#fafafa, 0.7),
                rgba(#fafafa, 0.8) 70%,
                rgba(#fafafa, 1) 95%
            );
            z-index: 1;
        }
        img {
            width: 100%;
            // height: 100%;
            z-index: 0;
        }
    }
}
.concept {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #333;
    margin-bottom: 150px;
    text-shadow: 0 0 3px rgb(248, 240, 212);
    position: relative;
    h1 {
        font-family: fot-tsukuaoldmin-pr6n, sans-serif;
        font-weight: 300;
        font-size: 20px;
        font-style: normal;
        color: #333;
        margin-bottom: 80px;
    }
    h2 {
        font-family: fot-tsukuaoldmin-pr6n, sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    h2:last-of-type {
        margin-bottom: 80px;
    }
    h3 {
        font-family: fot-tsukuaoldmin-pr6n, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
        margin-bottom: 50px;
    }
}

.news {
    background-color: #fafafa;
    width: 100%;
    font-family: fot-tsukuaoldmin-pr6n, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-shadow: 0 0 1px rgb(192, 192, 190);
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    h1 {
        font-family: fot-tsukuaoldmin-pr6n;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        margin-bottom: 80px;
    }
    &_list_item {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &::after {
            content: "";
            width: 90%;
            margin: 20px auto;
            height: 1px;
            border-bottom: 1px solid rgba(33, 33, 33, 0.5);
        }
        .item_data {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: right;
            font-size: 12px;
            p {
                margin: 0;
                padding-left: 10px;
                line-height: 14px;
            }
        }
        .item_content {
            width: 75%;
            padding-right: 20px;
            h3 {
                font-size: 16px;
                font-weight: 700;
                text-align: left;
            }
            p {
                font-size: 12px;
                font-weight: 300;
                line-height: 13px;
            }
        }
    }
}
.map {
    width: 100%;
    padding-top: 30px;
    margin-bottom: 80px;
    h1 {
        font-family: fot-tsukuaoldmin-pr6n;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .locationContainer {
        width: 100%;
        text-align: right;
        margin: 0 auto;
        margin-bottom: 30px;
        position: relative;
        img {
            width: 100%;
            margin-bottom: 20px;
            margin-top: 30px;
            // box-shadow: 0 0 20px #333;
        }
        p {
            font-family: fot-tsukuaoldmin-pr6n;
            font-weight: 300;
            font-style: italic;
            font-size: 14px;
            margin: 0;
            padding: 0;
            padding-left: 10%;
            padding-right: 10%;
            line-height: 20px;
            // text-shadow: 0 0 20px #333;
        }
        p.alignLeft{
            text-align: left;
        }
        p:first-of-type {
            // text-align: left;
            font-size: 18px;
            margin-bottom: 15px;
            line-height: 24px;
        }
    }
    .mapContainer {
        width: 100%;
        margin: 0 auto;
        // border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 0 20px #333;
        vertical-align: top;
        iframe {
            width: 100%;
            height: 300px;
        }
    }
}
.contact {
    h1 {
        font-family: fot-tsukuaoldmin-pr6n;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        font-size: 20px;
        margin-bottom: 30px;
    }
}

// mainここまで
